* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-lunasima {
  font-family: "Lunasima", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.btn {
  background-color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

header {
  padding-top: 51px;
  background-color: #fff8f3;
  background: url(../images/developer.png), url(../images/header_bg.png),
    #fff8f3;
  background-repeat: no-repeat;
  background-position: left top, right bottom;
}
nav {
  max-width: 1140px;
  width: 71%; /**1140 px is divided by 1600px bcz figma file is 1600px */
  margin: 0 auto;
  /* border: 2px solid brown; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu {
  display: flex;
  align-items: center;
  gap: 51px;
}
nav .menu li {
  list-style: none;
}
nav .menu li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 500;
}
nav .logo h2 {
  font-size: 45px;
  font-weight: 800px;
}
nav .logo h2 .color-orange {
  color: #fd6e0a;
}

/* banner styles */
#banner {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin: 46px 185px 0px 390px;
}
#banner .banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 20px;
}
#banner .banner-content h1 {
  font-size: 85px;
  font-weight: 700;
  color: #474747;
  margin-bottom: 20px;
}
#banner .banner-content p {
  font-size: 18px;
  font-weight: 500;
  color: #757575;
  margin-bottom: 30px;
}
