* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-lunasima {
  font-family: "Lunasima", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
#skills,
#about,
#resume {
  padding-top: 130px;
}
.btn {
  background-color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.section-heading {
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}
.section-heading h3 {
  font-size: 35px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 30px;
}
.section-heading p {
  font-size: 18px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 30px;
  line-height: 30px;
}
.text-center {
  text-align: center;
}
/* body {
  margin: 38px 0px 25px 23px;
} */
header {
  background-color: #fff8f3;
  background: url(../images/developer.png), url(../images/header_bg.png),
    #fff8f3;
  background-repeat: no-repeat;
  background-position: 35px 38px, bottom right;
  padding-top: 50px;
}
/* nav styles start */
nav {
  width: 71.25%; /* *1140px is divided by 1600px, bcz 1600px is the width of the figma file */
  max-width: 1140px;
  margin: 0px auto;
  /* border: 2px solid red; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo h2 {
  font-size: 45px;
  font-weight: 900;
  color: #181818;
}

nav .logo h2 .color-orange {
  color: #fd6e0a;
}

nav .menu {
  display: flex;
  gap: 51px;
  align-items: center;
}
nav .menu li {
  list-style: none;
}
nav .menu a {
  color: #474747;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}
/* nav styles end */

/* banner style start */
#banner {
  /* border: 2px solid red; */
  margin: 46px 190px 0 386px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 163px;
}
.banner-content {
  max-width: 585px;
}
#banner .banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 20px;
}
#banner .banner-content h1 {
  font-size: 85px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 20px;
}
#banner .banner-content p {
  font-size: 18px;
  font-weight: 500;
  color: #757575;
  margin-bottom: 30px;
}
#banner .banner-image img {
  max-width: 584px;
  vertical-align: middle;
}
.banner-content .btn-white {
  background-color: #fff8f3;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
}
/* banner style end */

/* about section styles*/

#about .about-container {
  background-color: #fff8f3;
  width: 71.25%; /* *1140px is divided by 1600px, bcz 1600px is the width of the figma file */
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding: 131px 157px;
  border-radius: 10px;
}

#about .about-container .about-info {
  display: flex;
  gap: 50px;
  justify-content: space-around;
}
.about-info .info-card p {
  font-size: 20px;
  color: #757575;
  line-height: 30px;
}
.about-info .info-card h4 {
  font-size: 20px;
  font-weight: 700;
  color: #474747;
  line-height: 30px;
}

/* skills styles */

#skills .skills-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

#skills .skills-card {
  display: flex;
  gap: 24px;
}

#skills .skills-card .skill-card {
  /* border: 1px solid mediumblue; */
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  max-width: 267px;
  border-radius: 5px;
}
.skill-card img {
  max-width: 44px;
  margin-bottom: 30px;
}
.skill-card h4 {
  font-size: 20px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 20px;
}
.skill-card p {
  font-size: 16px;
  font-weight: 500;
  color: #757575;
  line-height: 28px;
}

/* resume styles */
#resume .resume-container {
  display: flex;
  gap: 71px;
  justify-content: space-around;
  width: 71%;
  max-width: 1140px;
  margin: 113px auto 0;
}
.resume-container .resume-card {
  max-width: 558px;
  margin-right: 47px;
}
.resume-container hr {
  margin: 30px 0;
}
.education .section-title,
.experience .section-title {
  font-size: 30px;
  font-weight: 700;
  color: #474747;
  margin-bottom: 30px;
}

.resume-card .card-title {
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}
.resume-card .card-info {
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}
.resume-card .card-text {
  font-size: 16px;
  color: #757575;
}

/* footer styles */
footer {
  margin-top: 113px;
  background-color: #fff8f3;
  padding: 130px 0;
}
footer .footer-container {
  display: flex;
  gap: 117px;

  width: 71.25%;
  max-width: 1140px;
  margin: 0 auto;
}
.footer-container .social {
  max-width: 562px;
}
.footer-container .social h2 {
  font-size: 35px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 20px;
}
.footer-container .social p {
  font-size: 16px;
  line-height: 28px;
  color: #474747;
  margin-bottom: 30px;
}
.social .icons a img {
  margin-right: 30px;
}
.footer-container .form {
  max-width: 461px;
}

.footer-container .form h2 {
  font-size: 35px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 28px;
}
.footer-container .form input[type="text"],
.footer-container .form input[type="email"],
.footer-container .form textarea {
  width: 461px;
  padding: 18px 30px;
  margin-bottom: 24px;
  color: #757575;
  line-height: 28px;
}
