/*?Device width 1536px*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-lunasima {
  font-family: "Lunasima", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.btn {
  background-color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* body {
  margin: 38px 0px 25px 23px;
} */
header {
  background-color: #fff8f3;
  background: url(../images/developer.png), url(../images/header_bg.png),
    #fff8f3;
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  padding-top: 50px;
}
/* nav styles start */
nav {
  /* width: 74%; ?width of the nav is 1140px */
  width: 71%;
  max-width: 1140px;
  /* border: 2px solid red; */
  margin: 0px auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo h2 {
  font-size: 45px;
  font-weight: 900;
  color: #181818;
}

nav .logo h2 .color-orange {
  color: #fd6e0a;
}

nav .menu {
  display: flex;
  gap: 51px;
  align-items: center;
}
nav .menu li {
  list-style: none;
}
nav .menu a {
  color: #474747;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}
/* nav styles end */

/* banner style start */
#banner {
  /* border: 2px solid red; */
  margin: 46px 190px 0 386px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 163px;
}
#banner .banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 20px;
}
#banner .banner-content h1 {
  font-size: 85px;
  font-weight: 700;
  color: #474747;
  margin-bottom: 20px;
}
#banner .banner-content p {
  font-size: 18px;
  font-weight: 500;
  color: #757575;
  margin-bottom: 30px;
}
#banner .banner-image img {
  max-width: 584px;
  vertical-align: middle;
}
/* banner style end */
