* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-lunasima {
  font-family: "Lunasima", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.btn {
  background-color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
}

header {
  background-color: #fff8f3;
  padding-top: 50px;
}
/* nav styles start */
nav {
  width: 83%;
  max-width: 1332px;
  /* border: 2px solid red; */
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo h2 {
  font-size: 45px;
  font-weight: 900;
  color: #181818;
}

nav .logo h2 .color-orange {
  color: #fd6e0a;
}

nav .menu {
  display: flex;
  gap: 51px;
  align-items: center;
}
nav .menu a {
  list-style: none;
  color: #474747;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}
/* nav styles end */
